<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->
</head>
<body>
    <h1>Welcome to Landing page !!!</h1>
    <hr>
    {% block body %}
    {% endblock %}


    {% include 'polls/footer.html' %}

    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <!--<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->
</body>
</html>
